<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <div class="aw-mod aw-explore-list">
                        <div class="mod-body">
                            <div class="aw-common-list" id="hds_container">

                                
                                {{#each articles}}
                                <div class="aw-item active" data-topic-id="57,">
                                    <a class="aw-user-name hidden-xs" data-id="3654" href="/people/" rel="nofollow"><img src="{{this.pic}}" alt="" /></a>
                                    <div class="aw-question-content">
                                        <h4>
                                            <a href="/showArticle/{{this.aid}}">{{this.title}}</a>
                                        </h4>
                                        <p>作者:{{this.username}}
                                            <a href="/people/" class="aw-user-name"></a>
                                            <span class="text-color-999">• {{this.answerCount}}个回复 • {{this.showTime}}</span>
                                        </p>
                                    </div>
                                </div>
                                {{/each}}

                            </div>
                        </div>
                        <div class="mod-footer">
                            <div class="page-control" id="temp_pager"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/public/js/bootstrap-paginator.js"></script>

<script>
        //实现文章分页显示功能的就是利用上面引入的插件bootstrap-paginator
        var options = {
            currentPage:{{pager.currentPager}},//当前页
            totalPages:{{pager.totalPages}}, //合计页
            //由于要实现动态的分页功能，所以这两个数据不能是死的，必须由后台传递

            pageUrl:function(type,page){
                return '{{pager.Url}}?page='+page+'&keyWord={{pager.keyWord}}'; //点击对应页面的时候就会发送对应的页面请求
            }
        }
        //启动分页
        $('#temp_pager').bootstrapPaginator(options);
</script>
